body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
  background-color: #000;
  color: white;
  text-align: center;
}

#start-ar {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  z-index: 1;
}

#info {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  z-index: 1;
}